body {
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-position-y: 0px;
}

body.login-page{
    background-image: url('../images/superheroLoginImage.jpg');
    background-size: 1498px 903px;
}

body.register-page {
    background-image: url('../images/superheroRegistration.jpg');
    background-size: 1046px 987px;
}

body.dashboard-page{
    background-image: url('../images/superheroDashboard.jpg');
}

legend {
    font-weight: bold;
    color: white;
    font-size: 2em;
}
fieldset {
    border: none;
}


div#masthead {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
}
.outer-content {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 100px;
}
.form-content {
    display: inline-block;
    width: 30%;
}
.login {
    float: right;
    margin-top: -53px;
    margin-right: 20px;
}
a.login-link:hover {
    color: midnightblue;
}
a.login-link {
    color: red;
    text-decoration: none;
}

label{
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
}
.input-section {
    display: table;
    width: 100%;
}
.input-label {
    width: 20%;
    float: left;
    text-align: right;
    color: white;
}
.input-field {
    width: 70%;
    margin-left: 12px;
    float: left;
    display: inline-flex;
}
button.btn {
    border: 1px solid black;
    background: black;
    color: white;
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px;
    cursor: pointer;
}
span.error {
    color: red;
    font-size: 1em;
    font-style: italic;
    font-weight: bold;
}
h2#page-header {
    color: blue;
}

span.loginError {
    color: red;
    font-weight: bold;
    font-style: italic;
    font-size: larger;
}